.customized-dropdown {
	width: 15em;
	margin-bottom: 1em !important;

	.input-label {
		color: #1B99FF;
	}

	.menu-item {
		margin-bottom: #1B99FF !important;
		background-color: #1B99FF;
	}
}