.my-dashboards {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-background-color);
    padding: 1em;
    width: 25em;

    .list {
        overflow-y: auto;
        height: 15em;
    }

    #outlined-basic-label,
    #outlined-basic {
        color: white;
    }

    .search-icon {
        fill: white;
    }
}