:root {
    --main-background-color: #202342;
    --secondary-background-color: #2D325A; // match styles.constants.ts: SECONDARY_BACKGROUND_COLOR
    --green-color: #04E9E9;
    --blue-color: #4992FF;
    --action-color: #00E0FF;
}