.dashboard-actions {
    display: flex;
    float: 1;
    align-items: center;
	justify-content: space-between;

    &>div {
        margin-right: 1em;
    }

    .info-icon {
        fill: white;
        height: 2em;
        width: 1.5em;
        margin-right: 1em;
    }

	.action-buttons-container{
		display: flex;
	}
}

.tooltip-text {
    font-size: 16px;
}