.manager-wrapper {
    background-color: var(--main-background-color);
    width: 15em;
    padding: 1em;
    box-shadow: 3px 3px 6px 2px;
    display: flex;
    flex-direction: column;
    position: relative;
}