.App {
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;

  .app-bar {
    font-size: 30px;
    background-color: rgb(77, 77, 103);
  }

  .wrapper {

    display: flex;
    flex-direction: row;
  }
}