.App {
  text-align: center;
  height: 100%; // the couse to react-grid-layout custting - need to fix
  width: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  user-select: none;

  .page-title {
    font-size: 30px;
    background-color: rgb(219, 212, 212);
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }
}