.empty-dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .empty-image {
        width: 30%;
    }

    .empty-dashboard-message {
        color: var(--action-color);
    }
}